#country-detail{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 20px;
}
.country{
    border: 1px solid slategray;
    padding: 20px;
    background-color: aqua;
    border-radius: 20px;
}
.country img{
    width: 150px;
}
.country button{
    background-color: yellowgreen;
    color: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

#countryDetails{
    background-color: blueviolet;
    padding: 50px;
    height: 100%;
    width: 100%;
}